.third_container {
    display: flex;
    flex-wrap: wrap;
    justify-content: space-between;
    padding: 20px;
    gap: 20px;
}

.div1 {
    flex: 1 1 calc(25% - 40px); 
    box-sizing: border-box;
    padding: 10px;
    text-align: center;
}

.subdiv1 img {
    width: 100%;
    height: auto;
    margin-bottom: 10px;
}
.subdiv1 img:hover {
    opacity: 0.4; 
}

.subdiv1 h3 {
    font-size: 20px;
    color: rgb(120, 84, 71);
    padding: 10px 0;
}

.subdiv1 button {
    font-size: 14px;
    font-weight: 600;
    background-color: #f4bcb4;
    height: 25px;
    border: 1px solid;
    border-color: #a9802a !important;
    color: #a9802a !important;
    border-radius: 20px;
    margin-bottom: 30px;
    margin-top: 10px;
    text-transform: uppercase;
    cursor: pointer;
}

.subdiv1 button:hover {
    background-color: #a9802a;
    color: #f4bcb4 !important;
}
