.main-third-container{
    display: flex;
    height: 500px;
    
   
    

}



.pic-products{
    display: flex;
    justify-content: space-between;
    height: 450px;
    width: 100%;
    margin-top: 60px;
   

}

.pic-products-2{
   
    justify-content: space-between;
    height: 450px;
    
    margin-top: 50px;
    

}
.horizontal-line {
    width: 400px;
    height: 4px;
    background-color: rgb(120, 84, 71); 
    margin-left: 5px;
    margin-top: 10px; 
}

.title{
    font-family: Inter, sans-serif;
    font-size: 20px;
    color: #a9802a;
    border-bottom: 1px solid #A88029;
    padding-bottom: 10px;
    padding-top: 30px;
    padding-left: 20px;
   width: 250px;
}
.each-items {
    font-family: Arial, Helvetica, sans-serif;
    font-size: small ;
    margin-top: 20px;
    transition: color 0.1s;
   
    
}
.each-items a{
    color:black ;
    
}
.each-items:hover a{
    color: #a9802a;
    
}


